---
import Breadcrumbs from "../../components/Breadcrumbs.astro"
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob('../../posts/*.md');

    return posts.map(post => ({
        params: {
            slug: post.frontmatter.slug
        },
        props: {
            post
        }
    }));
};

const { Content, frontmatter } = Astro.props.post;
---

<Layout>
    <div class="content-container px-4 mb-5">
        <Breadcrumbs items={[
            { href: "/", text: "Home"},
            { href: "/" + frontmatter.slugDirectory + frontmatter.slug, text: frontmatter.title},
        ]} />
        <div class="mt-5 mb-3">
            <h2>{frontmatter.title}</h2>
        </div>
        <Content />
    </div>
</Layout>
