---
import LayoutWithMarkdown from "../../layouts/LayoutWithMarkdown.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro"

export async function getStaticPaths() {
    const posts = Object.values(import.meta.glob<Record<string, any>>("../../posts/blog/*.md", { eager: true }));

    return posts.map(post => ({
        params: {
            slug: post.frontmatter.slug
        },
        props: {
            post
        }
    }));
};

const { Content, frontmatter } = Astro.props.post;
---

<LayoutWithMarkdown>
    <div class="content-container mb-5">
        <Breadcrumbs items={[
            { href: "/", text: "Home"},
            { href: "/blog", text: "Blog"},
            { href: "/" + frontmatter.slugDirectory + frontmatter.slug, text: frontmatter.title},
        ]} />
        <div class="mt-5 mb-3">
            <h2>{frontmatter.title}</h2>
            <span style="color: #666; font-style: italic">By {frontmatter.authorName} on {frontmatter.publishedDate}</span>
        </div>
        <Content />
    </div>
</LayoutWithMarkdown>