:root {
  --bs-border-radius: 0.125em;
  --bs-nav-link-hover-color: rgb(13, 110, 253);
  --bs-body-color: rgb(33, 37, 41);
  --bs-heading-color: #4b4b4b;
  --bs-link-color-rgb: rgb(13, 110, 253);
  --bs-navbar-hover-color: rgb(13, 110, 253);
}

.h1 {
  font-weight: 900;
  font-size: 3.2em;
}
  
.h2 {
  font-weight: 900;
  font-size: 2.375em;
}

.h3 {
  font-weight: 900;
  font-size: 1.777rem;
}

.h4 {
  font-weight: 400;
  font-size: 1.333rem;
}

.h1, .h2, .h3, .h4, .h5 {
  font-family: "Arial";
  margin-top: 2em;
  margin-bottom: 16px;
}

.secondary {
  --bs-secondary-bg: rgb(248, 249, 250);
  background-color: var(--bs-secondary-bg);
  color: rgb(173, 181, 189);
}

.background-image-primary {
  background: transparent url('/static/img/bg-line-tan.png') repeat center top;
}
.background-image-secondary {
  background: transparent url('/static/img/bg-line-darkbrown.png') repeat center top;
}

.header-container {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 992px) {
  .header-container {
    flex-direction: column;
  }
}

.content-container-lg {
  padding: 0 0.5em;
  margin: 0 auto;
  width: 992px;
}

@media only screen and (max-width: 992px) {
  .content-container-lg {
    width: 100%;
  }
}

.content-container {
  padding: 0 1em;
  margin: 0 auto;
  width: 768px;
}

@media only screen and (max-width: 768px) {
  .content-container {
    width: 100%;
  }
}
  
.hover-border-highlight {
  border: 2px solid transparent;
  border-radius: 6px;
}
.hover-border-highlight:hover {
  border-color: rgb(var(--bs-link-color-rgb));
}