:root {
    --bs-border-radius: 0.125em;
    --bs-nav-link-hover-color: rgb(13, 110, 253);
  }
  
  [data-bs-theme="light"] {
    --bs-body-color: rgb(33, 37, 41);
    --bs-heading-color: #4b4b4b;
    --bs-link-color-rgb: rgb(13, 110, 253);
    --bs-navbar-hover-color: rgb(13, 110, 253);
  }
  
  [data-bs-theme="dark"] {
    --bs-body-color: rgb(173, 181, 189);
    --bs-heading-color: rgb(255, 255, 255);
    --bs-link-color-rgb: rgb(110, 168, 254);
  }
  
  [data-bs-theme="dark"] .secondary {
    --bs-secondary-bg: rgb(52, 58, 64);
    background-color: var(--bs-secondary-bg);
    color: rgb(33, 37, 41);
  }
  
  [data-bs-theme="light"] .secondary {
    --bs-secondary-bg: rgb(248, 249, 250);
    background-color: var(--bs-secondary-bg);
    color: rgb(173, 181, 189);
  }
  
  [data-bs-theme="light"] .background-image-primary {
    background: transparent url('/static/img/bg-line-tan.png') repeat center top;
  }
  [data-bs-theme="light"] .background-image-secondary {
    background: transparent url('/static/img/bg-line-darkbrown.png') repeat center top;
  }
  [data-bs-theme="dark"] .background-image-primary {
    background: transparent url('/static/img/bg-line-darkbrown.png') repeat center top;
  }
  [data-bs-theme="dark"] .background-image-secondary {
    background: transparent url('/static/img/bg-line-tan.png') repeat center top;
  }
  
  .header-container {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    display: flex;
  }
  @media only screen and (max-width: 992px) {
    .header-container {
      flex-direction: column;
    }
  }
  
  .content-container-lg {
    padding: 0 0.5em;
    margin: 0 auto;
    width: 992px;
  }
  
  @media only screen and (max-width: 992px) {
    .content-container-lg {
      width: 100%;
    }
  }
  
  .content-container {
    padding: 0 1em;
    margin: 0 auto;
    width: 768px;
  }
  
  @media only screen and (max-width: 768px) {
    .content-container {
      width: 100%;
    }
  }
  
  h1, .h1 {
    font-weight: 900;
    font-size: 3.2em;
  }
  
  h2, .h2 {
    font-weight: 900;
    font-size: 2.375em;
  }
  
  h3, .h3 {
    font-weight: 900;
    font-size: 1.777rem;
  }
  
  h4, .h4 {
    font-weight: 400;
    font-size: 1.333rem;
  }
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: "Arial";
    margin-top: 2em;
    margin-bottom: 16px;
  }
  
  li:not(:last-child) {
    margin-bottom: 16px;
  }
  
  pre {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1em 1.5em;
    margin: 2em 0;
  }
  
  img {
    max-width: 100%;
  }
  
  figure {
    display: grid;
    place-items: center;
    max-width: 100%;
    padding: 0.75em 0
  }
  
  
  figcaption {
    text-align: center;
    font-size: 0.875em;
    color: var(--bs-secondary-color);
  }

img:not(figcaption > img) {
  display: flex;
  margin: 0 auto;
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}

.hover-border-highlight {
  border: 2px solid transparent;
  border-radius: 6px;
}
.hover-border-highlight:hover {
  border-color: rgb(var(--bs-link-color-rgb));
}