---
import dayjs from 'dayjs'
import customParseFormat from 'dayjs/plugin/customParseFormat'
import advancedFormat  from 'dayjs/plugin/advancedFormat'

dayjs.extend(customParseFormat)
dayjs.extend(advancedFormat)
import Layout from "../layouts/Layout.astro";

let allPosts = (await Astro.glob("../posts/blog/*.md")).sort((a, b) => {
    let aDate = dayjs(a.frontmatter.publishedDate, "DD.MM.YYYY");
    let bDate = dayjs(b.frontmatter.publishedDate, "DD.MM.YYYY");
    return bDate.valueOf() - aDate.valueOf();
})
---

<Layout>
    <div class="content-container">
        <div class="d-flex justify-content-center">
            <h2 class="h2">All articles</h2>
        </div>
        <div>
            { allPosts.map(post => (
                <div>
                    <a class="m-2 row hover-border-highlight" href={"/" + post.frontmatter.slugDirectory + post.frontmatter.slug} style="color: initial; text-decoration: none">
                        <div class="d-flex justify-content-center align-items-center col-0 col-sm-2">
                            <img style="width: 120px;" src={post.frontmatter.thumbnail} alt="No image">
                        </div>
                        <div class="d-flex justify-content-center flex-column p-2 col-12 col-sm-10">
                            <h4 class="h4 m-0">{post.frontmatter.title}</h4>  
                            <div style="color: #aaa; font-size: 0.8em" class="d-flex flex-column justify-content-center col-0 col-sm-auto">
                                <p class="mb-0">
                                    {dayjs(post.frontmatter.publishedDate, "DD.MM.YYYY").format("MMM Do YYYY")} • {post.frontmatter.minToRead} min read
                                </p>
                            </div>
                            <p class="m-0 pt-1">
                                {post.frontmatter.intro}
                            </p>
                        </div>
                    </a>
                </div>
            ))}
        </div>
    </div>
</Layout>