---
import 'bootstrap/dist/css/bootstrap.min.css';
import '../styles/global.css'
---

<div class="py-3 background-image-primary position-relative body" style={{ zIndex: 1, fontSize: "16px" }}>
    <div class="header-container flex-lg-col-6">
        <h1 class="mx-4 my-0" style={{ marginBottom: 0, textAlign: "center", fontSize: "1.5em" }}>
            <a style={{ textDecoration: "none" }} href="/">Karl Oskar Anderson</a>
        </h1>
        <nav class="d-flex justify-content-center">
            <ul class="navbar-nav flex-row mr-auto">
                <li class="nav-item active mx-3 flex-row">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item mx-3 flex-row">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item mx-3 flex-row">
                    <a class="nav-link" href="/resume">Resume</a>
                </li>
                <li class="nav-item mx-3 flex-row">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>